@{
    ViewBag.Title = "About - Porto";
}

<div class="container mt-4">
    <h2>About Porto</h2>
    <p class="lead">Porto is your one-stop online shopping destination for quality products at affordable prices.</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <h4>Quality Guaranteed</h4>
            <p>We source only the best products from trusted suppliers.</p>
        </div>
        <div class="col-md-4">
            <h4>Fast Delivery</h4>
            <p>Get your orders delivered within 2-3 business days.</p>
        </div>
        <div class="col-md-4">
            <h4>Customer Support</h4>
            <p>24/7 customer service ready to assist you.</p>
        </div>
    </div>
</div>